langgraph
langchain_openai
langchain_community
langchain_anthropic
pinecone
langchain-pinecone
pypdf
langchain-text-splitters
langchain-core
fastapi
pydantic
uvicorn
anthropic
python-dotenv
python-multipart
